.navbar {
    left: 0;
    right: 0;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    text-align: center;
    padding: 20px 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 0 2px #B9C1CC;

    a {
        color: #364FD4;
    }
}