@use '../App.scss';

section {
    background: #FCFCFC;

    .schnick__schnack {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 18px;

        h2,
        a {
            font-family: "poppins-semibold";
        }

        h2 {
            font-size: 16px;
        }

        a {
            font-size: 12px;
            text-decoration: none;
            color: #B9C1CC;
        }
    }

    .product__list__grid {
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px 20px;
    }
}